<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Music</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<table>
    <tr>
        <td>제목: </td>
        <td><input type="text" placeholder="제목을 입력하세요." id="title" name="title" th:value="${music.title()}"/></td>
    </tr>
    <tr>
        <td>아티스트: </td>
        <td><input placeholder="가수를 입력하세요." id="artist" name="artist" th:value="${music.artist()}"/></td>
    </tr>
    <tr>
        <td>장르: </td>
        <td><input placeholder="장르를 입력하세요." id="genre" name="genre" th:value="${music.genre()}"/> </td>
    </tr>
    <tr>
        <td>메모: </td>
        <td><textarea placeholder="간단한 한 마디?" id="memo" name="memo" th:text="${music.memo()}"></textarea></td>
    </tr>
    <!--        <tr>-->
    <!--            <div>-->
    <!--                <button id="file-add-btn">파일 추가</button>-->
    <!--                <div id="files"></div>-->
    <!--            </div>-->
    <!--        </tr>-->
    <tr>
        <td colspan="2" style="margin-top: 10px">
            <button id="register-btn">등록</button>
        </td>
    </tr>
</table>

<script th:inline="javascript">
    document.getElementById('register-btn').onclick = async function() {
        const body = JSON.stringify({
            title: document.getElementById('title').value,
            artist: document.getElementById('artist').value,
            genre: document.getElementById('genre').value,
            memo: document.getElementById('memo').value
        });
        const response = await fetch('/board/musics/' + [[${music.no()}]], {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: body
        });

        if (!response.ok) {
            alert('update failure');
            location.href = 'http://localhost:8080/board/musics/' + [[${music.no()}]];
            return false;
        }

        alert('update success');
        location.href = 'http://localhost:8080/board/musics?page=1';
    }
</script>
</body>
</html>