<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
<html xmlns:th="http://www.thymeleaf.org">
<div th:if="${loginId == null}">
    <a th:href="@{/auth/login-form}">[로그인]</a>
    <a th:href="@{/auth/signup-form}">[회원가입]</a>
</div>

<div th:if="${loginId != null}">
    <span th:text="${loginId}">사용자</span>님 로그인 중입니다.
    <a id="logout" href="#">[로그아웃]</a>
</div>
<hr>

<script th:inline="javascript">
    document.getElementById('logout').onclick = async function() {
        const response = await fetch('auth/logout', {
            method: 'DELETE'
        });

        if (!response.ok) {
            alert('failed');
            return;
        }

        location.reload();
    }
</script>
</html>